@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.light {
    --primary: 245, 245, 245;
    --secondary: 0, 0, 0;
}

.dark{
    --primary: 0, 0, 0;
    --secondary: 245, 245, 245;
}


html {
    font-family: 'Anta', sans-serif;
}


body::-webkit-scrollbar {
   display: none;
}


.textLayer{
    display: none;
}

.annotationLayer{
    display: none;
}

.react-pdf__Page{
    background-color: var(--primary) !important;
}

.react-pdf__Page__canvas{
    margin: auto;
    border: 1px solid rgb(var(--secondary));
    box-shadow: 0 0 30px 0 rgba(var(--secondary), 0.6);
}
